/* Dit is voor de hele website */
html {
    margin: 0;
    padding: 0;
    background-color: #ebff00;
    font-family: "VT323", monospace;
    font-size: large; 
}
 

/* header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px 5%;
    margin-bottom: 30px;
}

.navbar {
    background-color: #BF1943;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /* Zorgt ervoor dat de links in een rij worden geplaatst */
    gap: 20px;
    border-radius: 1px;
}

.navbar a {
    text-decoration-line: none;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a:hover {
    background: #ebff00;
    color: black;
    transition: 0.6s ease;
    border-radius: 1px;
}

.header img {
    width: 45px;
    padding: 5px;
    box-shadow: 2px 3px 3.8px 2px #5E6600;
}

/* home_main*/

.home_main {
    display: flex;
}

.container_images {
    height: 540px;
    width: 920px;
    overflow: hidden;
}

.container_images img {
    height: 100%;
    width: 100%;
}

.home_main h1 {
    font-size: 80px;
}

.home_art1 p {
    width: 100%;
    max-width: 400px; /* Hier stel je de breedte van het hokje in */
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size:20px 
}

.home_art1 {
    max-width: 900px;
    margin-left: 10px;
}


/* Dit is de games pagina  */
#games-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;

}

#kopjes-games {
    text-align: center;
    margin-bottom: 40px;
    color: #007BFF;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.game:hover {
    transform: translateY(-10px);
}

.game img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.game h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007BFF;
    background-color: white;
}

.game p {
    font-size: 1em;
    margin-bottom: 20px;
    background-color: white;
}

.game button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game button:hover {
    background-color: #0056b3;
}

/* Dit is de log in registration pagina  */